PORT=YOUR_PORT_HERE
NODE_ENV=YOUR_NODE_ENV_HERE

# App URL
BASE_URL=http://localhost:3000

# Postgres (used by docker-compose database service)
POSTGRES_USER=YOUR_POSTGRES_USER_HERE
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD_HERE
POSTGRES_DB=YOUR_POSTGRES_DB_HERE

# Postgres Test Database (used by tests when running in Docker Compose)
POSTGRES_TEST_DB=YOUR_POSTGRES_TEST_DB_HERE

# Use host "db" when running app and database in Docker Compose
DATABASE_URL=YOUR_DATABASE_URL_HERE

# Postgres Test Database URL (used by tests when running in Docker Compose)
DATABASE_TEST_URL=YOUR_DATABASE_TEST_URL_HERE

# JWT configuration
JWT_SECRET=YOUR_JWT_SECRET_HERE
JWT_EXPIRES_IN=YOUR_JWT_EXPIRES_IN_HERE

# Frontend URL (used for CORS configuration)
FRONTEND_URL=YOUR_FRONTEND_URL_HERE

# Logger
LOG_LEVEL=YOUR_LOG_LEVEL_HERE